@model EntityLayer.Concrete.Writer
@{
    ViewBag.Title = "AddWritter";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div style="margin:8px;">
    <div class="card">
        <div class="card-header">
            YENİ YAZAR EKLEME
        </div>
        <div class="card-body">
            @using (Html.BeginForm("AddWritter", "Writer", FormMethod.Post))
            {
                <div class="form-group">
                    @Html.Label("Yazar Adı")
                    @Html.TextBoxFor(x => x.WriterName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.WriterName)
                    <br />
                    @Html.Label("Yazar Soyadı")
                    @Html.TextBoxFor(x => x.WriterSurname, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.WriterSurname)
                    <br />
                    @Html.Label("Yazar Mail")
                    @Html.TextBoxFor(x => x.WriterMail, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.WriterMail)
                    <br />
                    @Html.Label("Şifre")
                    @Html.TextBoxFor(x => x.WriterPassword, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.WriterPassword)
                    <br />
                    @Html.Label("Yazar Görsel Linki")
                    @Html.TextBoxFor(x => x.WriterImage, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.WriterImage)
                    <br />
                    @Html.Label("Yazar Ünvan")
                    @Html.TextBoxFor(x => x.WriterTitle, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.WriterTitle)
                    <br />
                    @Html.Label("Yazar Hakkında")
                    @Html.TextBoxFor(x => x.WriterAbout, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.WriterAbout)
                    <br />
                    <button class="btn btn-primary">Yazar Ekle</button>
                </div>
            }


        </div>
    </div>
</div>
