@model EntityLayer.Concrete.Heading
@{
    ViewBag.Title = "NewHeading";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}



<div style="margin:8px;">
    <div class="card">
        <div class="card-header">
            BAŞLIK EKLE
        </div>
        <div class="card-body">
            @using (Html.BeginForm("newHeading", "WriterPanel", FormMethod.Post))
            {
                <div class="form-group">
                    @Html.Label("Başlık Adı")
                    @Html.TextBoxFor(x => x.HeadingName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.HeadingName)
                    <br />
                    @Html.Label("Kategori")
                    @Html.DropDownListFor(x => x.CategoryID, (List<SelectListItem>)ViewBag.vlc, new { @class = "form-control" })
                    <br />
                   
                    <a href="/WriterPanel/MyHeading" class="btn btn-primary float-left">Başlık Listesine Git</a>
                    <button class="btn btn-primary float-right">Başlık Oluştur</button>
                </div>
            }
        </div>
    </div>
</div>

